<div class="main-container-flex">
  <div class="grid-container-profile">
    <div class="profile-format-user">
      <div class="profile-info-user">
        <%= image_tag("generic-profile-picture-2.jpg", class: "avatar-large")%>
        <h1 class="welcome-title"><%= "Welcome #{current_user.first_name}" %></h1>
      </div>
      <div class="grid-container-content">
        <p style="grid-column:1; grid-row:1"><strong><em>First name:</em></strong></p>
        <p style="grid-column:1; grid-row:2"><strong><em>Last name:</em></strong></p>
        <p style="grid-column:1; grid-row:3"><strong><em>Email:</em></strong></p>
        <p style="grid-column:1; grid-row:4"><strong><em>Address:</em></strong></p>
        <p style="grid-column:1; grid-row:5"><strong><em>ID:</em></strong></p>
        <p style="grid-column:2; grid-row:1"><%= "#{current_user.first_name}" %></p>
        <p style="grid-column:2; grid-row:2"><%= "#{current_user.last_name}" %></p>
        <p style="grid-column:2; grid-row:3"><%= "#{current_user.email}" %></p>
        <p style="grid-column:2; grid-row:4"><%= "#{current_user.home_address}" %></p>
        <p style="grid-column:2; grid-row:5"><%= "#{current_user.id}" %></p>
      </div>
      <div class="profile-info-user">
        <%= link_to new_item_path do %>
          <button class="button-primary">Create new item</button>
        <% end %>
      </div>
    </div>
    <div class="profile-format-rentals">
      <h1><%= "#{current_user.first_name} #{current_user.last_name}'s rentals" %></h1>
        <% @rentals = Rental.where(user: current_user)%>
        <% @rentals.each do |rental| %>
          <div class="rental-card">
            <div>
              <% if rental.item.photo.attached? %>
                <%= cl_image_tag rental.item.photo.key, height: 150, width: 150, crop: :fill %>
              <% else %>
                <%= image_tag "power_drill_static.png", height: 150, width: 150, crop: :fill %>
              <% end %>
            </div>
            <div>
              <h3><%= rental.item.name %></h3>
              <div class="rental-card-info-grid">
                <div>
                  <p>Start date: <%= rental.start_date %></p>
                  <p>End date: <%= rental.end_date %></p>
                  <% @rental_days = (Date.parse("#{rental.end_date.year}-#{rental.end_date.month}-#{rental.end_date.day}") - Date.parse("#{rental.start_date.year}-#{rental.start_date.month}-#{rental.start_date.day}")).to_int + 1 %>
                  <p><%= "No. of days: #{@rental_days}" %></p>
                </div>
                <div>
                  <p><%= "Rental ID: #{rental.id}" %></p>
                  <p>Total price: €<%= @rental_days * rental.item.price_per_day %></p>
                  <p>Renting from user: <%= "#{rental.item.user.first_name} #{rental.item.user.last_name}" %></p>
                </div>
              </div>
            </div>
            <div class="rental-card-links">
              <%= link_to "More details of this rental", item_rental_path(rental.item, rental) %>
              <%= link_to "Cancel this rental", item_rental_path(rental.item, rental), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        <% end %>
      <h1><%= "#{current_user.first_name} #{current_user.last_name}'s offerings" %></h1>
        <% @items = Item.where(user: current_user)%>
        <% @items.each do |item| %>
          <% @offerings = Rental.where(item: item) %>
          <% @offerings.each do |offering| %>
            <div class="rental-card">
              <div>
                <% if offering.item.photo.attached? %>
                  <%= cl_image_tag offering.item.photo.key, height: 150, width: 150, crop: :fill %>
                <% else %>
                  <%= image_tag "power_drill_static.png", height: 150, width: 150, crop: :fill %>
                <% end %>
              </div>
              <div>
                <h3><%= offering.item.name %></h3>
                <div class="rental-card-info-grid">
                  <div>
                    <p>Start date: <%= offering.start_date %></p>
                    <p>End date: <%= offering.end_date %></p>
                    <% @offer_days = (Date.parse("#{offering.end_date.year}-#{offering.end_date.month}-#{offering.end_date.day}") - Date.parse("#{offering.start_date.year}-#{offering.start_date.month}-#{offering.start_date.day}")).to_int + 1 %>
                    <p><%= "No. of days: #{@offer_days}" %></p>
                  </div>
                  <div>
                    <p><%= "Offering ID: #{offering.id}" %></p>
                    <p>Total price: €<%= @offer_days * offering.item.price_per_day %></p>
                    <p>Renting to user: <%= "#{offering.user.first_name} #{offering.user.last_name}" %></p>
                  </div>
                </div>
              </div>
              <div>
                <%= link_to "More details of this rental", item_rental_path(offering.item, offering) %>
                <br>
                <%= link_to "Cancel this rental", item_rental_path(offering.item, offering), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
