<div class="main-container-flex">
  <div class="grid-container-profile">
    <div class="profile-format-user">
      <div class="profile-info-user">
        <div>
          <% if user_signed_in? && current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-large"%>
          <% else %>
            <%= image_tag "empty-avatar.png", class: "avatar-large" %>
          <% end %>
        </div>
        <h1 class="welcome-title"><%= "Welcome #{current_user.first_name}" %></h1>
      </div>
      <div class="grid-container-content">
        <p style="grid-column:1; grid-row:1"><strong><em>First name:</em></strong></p>
        <p style="grid-column:1; grid-row:2"><strong><em>Last name:</em></strong></p>
        <p style="grid-column:1; grid-row:3"><strong><em>Email:</em></strong></p>
        <p style="grid-column:1; grid-row:4"><strong><em>Address:</em></strong></p>
        <p style="grid-column:1; grid-row:5"><strong><em>ID:</em></strong></p>
        <p style="grid-column:2; grid-row:1"><%= "#{current_user.first_name}" %></p>
        <p style="grid-column:2; grid-row:2"><%= "#{current_user.last_name}" %></p>
        <p style="grid-column:2; grid-row:3"><%= "#{current_user.email}" %></p>
        <p style="grid-column:2; grid-row:4"><%= "#{current_user.home_address}" %></p>
        <p style="grid-column:2; grid-row:5"><%= "#{current_user.id}" %></p>
      </div>
      <div class="profile-info-user" style="margin-top:30px;">
        <%= link_to destroy_user_session_path, data: { "turbo-method": :delete } do %>
          <button class="button-secondary">Sign Out</button>
        <% end %>
      </div>
    </div>
    <div class="profile-format-rentals">
      <h2 style="margin-bottom:10px"><em><strong><%= "#{current_user.first_name} #{current_user.last_name}'s rentals" %></strong></em></h1>
        <% @rentals = Rental.where(user: current_user)%>
        <% @rentals.each do |rental| %>
          <div class="rental-card">
            <div style="height: 100%">
              <% if rental.item.photo.attached? %>
                <%= cl_image_tag rental.item.photo.key, height: 150, width: 150, crop: :fill %>
              <% else %>
                <%= image_tag "item-placeholder.png", height: 150, width: 150, crop: :fill %>
              <% end %>
            </div>
            <div class="rental-card-content-container">
              <h3><%= rental.item.name %></h3>
              <div class="rental-card-info-grid">
                <div class="rental-card-content">
                  <p><em>Start date: </em><%= rental.start_date %></p>
                  <br>
                  <p><em>End date: </em><%= rental.end_date %></p>
                </div>
                <div class="rental-card-content rental-card-extras">
                  <% @rental_days = (Date.parse("#{rental.end_date.year}-#{rental.end_date.month}-#{rental.end_date.day}") - Date.parse("#{rental.start_date.year}-#{rental.start_date.month}-#{rental.start_date.day}")).to_int + 1 %>
                  <p><em>No. of days: </em><%= "#{@rental_days}" %></p>
                  <br>
                  <p><em>Total cost:</em> € <strong><%= (@rental_days * rental.item.price_per_day).round(2) %></strong></p>
                </div>
                <div class="rental-card-icons">
                  <%= link_to item_rental_path(rental.item, rental) do %>
                    <div style="display:flex; justify-content:center; align-content:center">
                      <%= image_tag "info.png", class: "rental-icon-format" %>
                    </div>
                  <% end %>
                  <%= link_to item_rental_path(rental.item, rental), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this rental?"} do %>
                    <div style="display:flex; justify-content:center; align-content:center">
                      <%= image_tag "trash.png", class: "rental-icon-format" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <div id="second-title">
        <h2 style="margin-bottom:0px"><em><strong><%= "#{current_user.first_name} #{current_user.last_name}'s offerings" %></strong></em></h1>
        <%= link_to new_item_path do %>
          <button class="button-create">Create item</button>
        <% end %>
      </div>
        <% @items = Item.where(user: current_user)%>
        <% @items.each do |item| %>
          <% @offerings = Rental.where(item: item) %>
          <% @offerings.each do |offering| %>
            <div class="rental-card">
              <div style="height: 100%">
                <% if offering.item.photo.attached? %>
                  <%= cl_image_tag offering.item.photo.key, height: 150, width: 150, crop: :fill %>
                <% else %>
                  <%= image_tag "item-placeholder.png", height: 150, width: 150, crop: :fill %>
                <% end %>
              </div>
              <div class="rental-card-content-container">
                <h3><%= offering.item.name %></h3>
                <div class="rental-card-info-grid">
                  <div class="rental-card-content">
                    <p><em>Start date: </em><%= offering.start_date %></p>
                    <br>
                    <p><em>End date: </em><%= offering.end_date %></p>
                  </div>
                  <div class="rental-card-content rental-card-extras">
                    <% @offer_days = (Date.parse("#{offering.end_date.year}-#{offering.end_date.month}-#{offering.end_date.day}") - Date.parse("#{offering.start_date.year}-#{offering.start_date.month}-#{offering.start_date.day}")).to_int + 1 %>
                    <p><em>No. of days: </em><%= "#{@offer_days}" %></p>
                    <br>
                    <p><em>Total income:</em> € <strong><%= (@offer_days * offering.item.price_per_day).round(2) %></strong></p>
                  </div>
                  <div class="rental-card-icons">
                    <%= link_to item_rental_path(offering.item, offering) do %>
                      <div style="display:flex; justify-content:center; align-content:center">
                        <%= image_tag "info.png", class: "rental-icon-format" %>
                      </div>
                    <% end %>
                    <%= link_to item_rental_path(offering.item, offering), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this rental?"} do %>
                      <div style="display:flex; justify-content:center; align-content:center">
                        <%= image_tag "trash.png", class: "rental-icon-format" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
