<div class="main-container-flex">
  <div class="grid-container-profile">
    <div class="profile-format">
      <div class="profile-info-user">
        <%= image_tag("generic-profile-picture-2.jpg", class: "avatar-large")%>
        <h1 class="welcome-title"><%= "Welcome #{current_user.first_name}" %></h1>
      </div>
      <div class="grid-container-content">
        <div class="profile-info-content">
          <p><strong><em>First name:</em></strong></p>
          <p><strong><em>Last name:</em></strong></p>
          <p><strong><em>Email:</em></strong></p>
          <p><strong><em>Address:</em></strong></p>
        </div>
        <div class="profile-info-content">
          <p><%= "#{current_user.first_name}" %></p>
          <p><%= "#{current_user.last_name}" %></p>
          <p><%= "#{current_user.email}" %></p>
          <p><%= "#{current_user.home_address}" %></p>
        </div>
      </div>
      <div class="profile-info-user">
        <button class="button-primary">Change details</button>
      </div>
    </div>
    <div class="profile-format">
      <p>Placeholder for rentals</p>
    </div>
  </div>
</div>
