<div class="category-card-container-border">
  <div class="category-card-container">
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/wedding-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Weddings
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/clothing-icon.png"%>
      </div>
      <div class="category-card-content">
        Clothing
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/vehicle-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Vehicles
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/tool-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Tools
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/sport-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Sports
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/book-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Books
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/boat-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Boats
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/room-icon.png"%>
      </div>
      <div class="category-card-content category-card-text">
        Rooms
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/electronics-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Electronics
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/jewellery-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Jewellery
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/plane-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Planes
      </div>
    </div>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/bag-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Bags
      </div>
    </div>
  </div>
</div>
