<div class="main-container-flex">
 <div class="category-card-container">
    <%= link_to items_path(category: "Weddings" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/wedding-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Weddings
     </div>
    </div>
    <% end %>

<%= link_to items_path(category: "Clothing" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/clothing-icon.png"%>
      </div>
      <div class="category-card-content">
        Clothing
      </div>
    </div>
<% end %>

<%= link_to items_path(category: "Vehicles" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/vehicle-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Vehicles
      </div>
    </div>
<% end %>
  <%= link_to items_path(category: "Tools" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/tool-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Tools
      </div>
    </div>
<% end %>

 <%= link_to items_path(category: "Sports" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/sport-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Sports
      </div>
    </div>
<% end %>
 <%= link_to items_path(category: "Books" ) do %>
    <div class="category-card">

      <div class="category-card-content">
        <%= image_tag "category_icons/book-icon.png" %>
      </div>
      <div class="category-card-content category-card-text" >
        Books
      </div>

    </div>
<% end %>

 <%= link_to items_path(category: "Boats" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/boat-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Boats
      </div>
    </div>
 <% end %>
 <%= link_to items_path(category: "Rooms" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/room-icon.png"%>
      </div>
      <div class="category-card-content category-card-text">
        Rooms
      </div>
    </div>
<% end %>
<%= link_to items_path(category: "Electronics" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/electronics-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Electronics
      </div>
    </div>
<% end %>

<%= link_to items_path(category: "Jewellery" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/jewellery-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Jewellery
      </div>
    </div>
<% end %>

<%= link_to items_path(category: "Planes" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/plane-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Planes
      </div>
    </div>
<% end %>
<%= link_to items_path(category: "Bags" ) do %>
    <div class="category-card">
      <div class="category-card-content">
        <%= image_tag "category_icons/bag-icon.png" %>
      </div>
      <div class="category-card-content category-card-text">
        Bags
      </div>
    </div>
    <% end %>
  </div>
</div>
