<div class="navbar-container">
  <div class="navbar-content">
    <%= link_to root_path, class:"text-decoration-none" do %>
    <div class="logo-container">
      <%= image_tag "logo.png", class: "navbar-logo" %>
      <div id=navbar-logo-text>

      </div>
    </div>
    <% end %>

    <%= form_with url: items_path, method: :get, class: "d-flex search-form-field" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control search-form-back",
    placeholder: "We have it all ..."
  %>
  <%= submit_tag "Search", class: "btn btn-primary search-button" %>
<% end %>

    <%= link_to new_item_path do %>
    <div class="avatar-container">
      <%= image_tag "generic-profile-picture-2.jpg", class: "avatar-bordered" %>
    </div>
    <% end %>
  </div>
</div>
