<div class="main-container-block">
  <h1>All the rentals of <%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
  <div class="grid-container">
    <% @rentals.each do |rental| %>
      <div class="rental-card">
        <h3><%= rental.item.name %></h3>
        <p><%= "Rental ID: #{rental.id}" %></p>
        <p>Start date: <%= rental.start_date %></p>
        <p>End date: <%= rental.end_date %></p>
        <% @rental_days = (Date.parse("#{rental.end_date.year}-#{rental.end_date.month}-#{rental.end_date.day}") - Date.parse("#{rental.start_date.year}-#{rental.start_date.month}-#{rental.start_date.day}")).to_int + 1 %>
        <p>Total price: €<%= @rental_days * rental.item.price_per_day %></p>
        <p>Renting from user: <%= "#{rental.item.user.first_name} #{rental.item.user.last_name}" %></p>
      <%= link_to("More details of this rental", item_rental_path(rental.item, rental)) %>
      <br>
      <%= link_to "Cancel this rental", item_rental_path(rental.item, rental), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
</div>
