
<div class="main-container-flex">
  <div class="grid-container">

    <% @items.each do |item| %>
      <%= link_to item_path(item.id), class: "text" do %>

      <div class="item-card">
        <%= image_tag "powerdrill.jpg" %>
        <div class="card-body">
          <div>
            <h5 class="card-title"><b><%= item.name %></b></h5>
            <p class="card-text">Only €<b><%= item.price_per_day %></b> per day </p>
          </div>
          <div>
            <%= image_tag "map-pin.jpg", class: "map-pin" %>
            <%= rand(1..20) %>km
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
