
<div class="main-container-flex">
  <div class="grid-container">

    <% @items.each do |item| %>
      <%= link_to item_path(item.id), class: "text" do %>

      <div class="item-card">
        <div class="item-card-photo-wrapper">
          <% if item.photo.attached? %>
            <%= cl_image_tag item.photo.key, height: 500, width: 500, crop: :fill %>
          <% else %>
            <%= image_tag "item-placeholder.png", class: "index-card-image" %>
          <% end %>
        </div>
        <div class="card-body">
          <div>
            <h5 class="card-title"><b><%= item.name %></b></h5>
            <p class="card-text">Only €<b><%= item.price_per_day %></b> per day </p>
          </div>
          <div>
            <%= image_tag "map-pin.jpg", class: "map-pin" %>
            <%= rand(1..20) %>km
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
