<div class="main-container-flex">
  <div class="itemshow">
    <div class="itemshow-left">
      <% if @item.photo.attached? %>
        <%= cl_image_tag @item.photo.key, height: 500, width: 500, crop: :fill %>
      <% else %>
        <%# <%= image_tag "https://source.unsplash.com/random/500x500/?#{@item.category}" %>
        <%= image_tag "power_drill_static.png", class: "itemshow-picture" %>
      <% end %>
      <br>
      <%# link_to("<-- Back to overview", items_path) %>
    </div>
    
    <div class="itemshow-right">
      <div class="itemshow-header">
        <h1><%= @item.name %></h1>
        <p><%= "posted by: #{@item.user.first_name} #{@item.user.last_name}" %></p>
      </div>
      <div class="itemshow-description">
        <p><%= @item.description %></p>
      </div>
      <div class="itemshow-reviews-wrapper">
        <%= image_tag "scroll-chevrons.png", class: "itemshow-scroll-chevrons-left" %>
        <% 3.times do %>
          <div class="review-card">
            <p>I absolutely loved renting this item - it was much more convenient and affordable to rent it compared to buying it.</p>
            <div class="review-score-box">
              <%= image_tag "full-rating-star.png", class: "itemshow-full-star" %>
              <p>5</p>
            </div>
          </div>
        <% end %>
        <%= image_tag "scroll-chevrons.png", class: "itemshow-scroll-chevrons-right" %>
      </div>
      <div class="item-data-wrapper">
        <p><%= "Starting at € #{@item.price_per_day}" %></p>
        <div class="avg-rating-container">
          <p>Rated at: </p>
          <%= image_tag "full-rating-star.png", class: "itemshow-full-star" %>
          <p>4.2</p>
        </div>
      </div>
      <div data-controller="bookingbar">
        <div class="hidden" id="overlay" data-bookingbar-target="bookingbackground"></div>
        <button class="button-primary w-100" id="itemshow-share-button" data-action="click->bookingbar#show">Book it!</button>
        <div class="booking-container hidden" data-bookingbar-target="bookingform">
          <div class="booking-container-content">
            <h1>Book this item</h1>
            <%= simple_form_for [@item, @rental] do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
              <%= f.button :submit, "Finalize booking", class: "button-primary w-100" %>
            <% end %>
            <button class="button-secondary w-100" data-action="click->bookingbar#hide">Back to item page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
